@import url(http://fonts.googleapis.com/css?family=Nixie+One|Poiret+One);


body {
	background: url('/assets/square_bg.png');
}

h1{
	font-family: 'Poiret One', cursive;
}

h2 {
	font-family: 'Nixie One', cursive;
}

p {
	font-family: 'Nixie One', cursive;
}

.intro {
	padding-top: 70px;
	text-align: center;
}